.Topbar {
  background-color: #50dfd6;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#TopbarLogo {
  height: 60px;
  max-width: 1280px;
}
