.Topbar {
  background-color: #50dfd6;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wrapper {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

#TopbarLogo {
  height: 60px;
  margin-right: auto;
}
