.Weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 5px;
  min-width: 160px;
  height: 70px;
}

.weatherIcon {
  height: 45px;
  margin-right: 5px;
}
